---
import Gifs from "../assets/Dance.gif";
import Baile from "../assets/esta.mp3"; 
---
<a href="/">regresar</a>
<h1>AHORA ME DEBES 10$</h1>
<img src={Gifs.src} 
alt="baile">
<audio src={Baile} controls autoplay ></audio>





