---
import Herosection from "../components/Herosection.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="parent">
		<Herosection titulo="" descripcion="" imagen="" />
		<div class="div1">
			<h2>próximo proyecto</h2>
			<div class="div2">
				<p>
					<b>hola mundo</b> dejo esto por aqui porque cuando me haga rico
					y una empresa me contrate es porque sere un excelente programador
					quiero que vean mis inicios y se rian de mi, porque actualmente
					como soy pobre nadie quiere hacerme un pago movil, pero cuando
					sea rico no lo aceptare, aprovechen que ahora soy pobre y pueden
					hacerlo.
					<p>
						<strong class="frase">
							Porque perro que ladra, se lo lleva la corriente, y
							camaron que se duerme, no ladra.</strong>
					</p>
				</p>
			</div>
		</div>
	</div>
</Layout>
<style>
	


</style>
