---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
import BasicLayout from "../layouts/BasicLayout.astro";
import Footer from "../components/Footer.astro";
---

<body class="cuerpo">
   <BasicLayout>
      <header class="header">
         <h1 class="inicio">iniciar sesion</h1>
         <Icon name="cif:ve" width="32" height="32" />
      </header>

      <main>
         <div class="container">
            <div class="entrada">
               <label for="usuario">Usuario:</label>
               <input
                  type="text"
                  id="usuario"
                  name="usuario"
               />
               <label for="contrasena">Contraseña:</label>
               <input
                  type="password"
                  id="contrasena"
                  name="contrasena"
               />
            </div>
            <div class="botones">
               <button class="inicar boton">
                  iniciar Sesion
                  <Icon name="mdi:user" width="24" height="24" />
               </button>
               <a href="/"> <button class="volver boton"> volver </button> </a>
            </div>
         </div>

      </main>


      <Footer />
   </BasicLayout>

   <style>
      main {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 60px;
         background-color: #2e2e2e;
      }
      .container {
         padding: 20px;
         display: flex;
         flex-direction: column;
         width: auto;
         gap: 64px;
         
         background-color: #1e1e1e;
         border-radius: 15px;
         
      }
      .header {
         background-color: #000000;
         justify-content: center;
         align-items: center;
         display: flex;
         padding: 15px 20px;
         
      }
      .inicio {
         font-size: 30px;
         font-family: "cursive", cursive;
         color: #ffffff;
      }

      .entrada {
         align-items: center;
         justify-content: center;
         display: flex;
         flex-direction: column;
         color: #ffffff;
         gap: 10px;
         padding: 24px;
      }
      .volver.boton {
         background-color: #0f2bff; /* Verde */
         color: rgb(255, 255, 255);
         padding: 5px 20px;
         border: none;
         border-radius: 9px;
         cursor: pointer;
         display: flex;
      }

      .inicar.boton {
         background-color: #0f2bff; /* Verde */
         color: rgb(255, 255, 255);
         padding: 5px 20px;
         border: none;
         border-radius: 9px;
         cursor: pointer;
         display: flex;
      }
      .botones {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 10px;
      }

      .cuerpo {
         background-color: #000000;
      }
      input {
         width: 500px;
         border-width: 1px;
         border-style: solid;
         background: #3854f34a;
      
      }
      
   </style>
</body>
