---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <h1>¿Quien soy?</h1>
    <p>Hola, soy Alfonso, un estudiante de informatica que esta aprendiendo a hacer paginas web.</p>
    <p>espero algun dia ser un excelente programador y lograr vivir de esto</p>
</Layout>