<footer>
			
			<p>
				creditos a mi papá por patrocinarme el curso
			</p>
            <ul>	
				<li>
					<a href="#"> Regresar al inicio </a>
                </li>
				<li>
					contactos
				</li>
			</ul>
		</footer>