<div>
    <div>

        <div>
            <h1>Mi primera pagina</h1>
            <p>Hola, soy Alfonso, 
                y esta es mi primera pagina web hecha con Astro.</p>
        </div>
        <button> iniciar sesion</button>

    </div>

    <div>
        <img src="" alt="">
    </div>

</div>