---
import Dinero from "../assets/descargar.png";
---

<div>
    <div>
        <div>
            <h1>Mi primera pagina</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At
                suscipit et tempore debitis provident, odio, autem quam quod
                nihil fugit, ut saepe sequi dolores officia. Eum et architecto
                quasi. Culpa!
            </p>
        </div>
        <a href="/deber"><button> doname 10$</button></a>
    </div>
    <div>
        <img src={Dinero.src} alt="Imagen de ejemplo" />
    </div>
</div>
