---
import Dinero from "../assets/descargar.png";
---

<div>
    <div>
        <div>
            <h1>Tráileres de la experiencia del juego</h1>
            <p>
                ¡Explora tus propios mundos únicos, sobrevive a la noche y crea todo lo que puedas imaginar!
Ve el anterior vídeo de muestra de la experiencia del juego de Minecraft o selecciona "ver el tráiler" para mirar el vídeo completo en YouTube.
            </p>
        </div>
        <div>
        <a href="/deber"><button class="boton"> doname 10$</button></a>
        <img src={Dinero.src} alt="Imagen de ejemplo" width="64px" height="64px"/>
    </div>
</div>
<style>
    .boton {
        background-color: #000000; /* Verde */
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 9px;
        cursor: pointer;
        display: flex;
    }
    h1 {
        color: #ffffff;
        font-size: 32px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    p {
        color: #ffffff;
        font-size: 16px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        
    }
