<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi primera pagina</title>
	</head>
	<body>
		 
		<header>
			<nav>
				<!--logo de la pagina -->
				<div class="logo">
					<img src="https://www.infolavelada.com/favicon.svg" width="50" height="50"
					alt="Logo" />
				</div>
				<!--navegacion de la pagina -->
				<ul>
					<li><a><b>Mi primera pagina</b></a></li>
					<li><a href="/">inicio</a></li>
					<li><a href="/juegos">juegos</a></li>
					<li><a href="https://www.infolavelada.com">velada original</a></li>
				</ul>
				<a href="/iniciar"> <button> iniciar sesion </button> </a>
			</nav>
		</header>

		<!--esta parte es donde se intercambian las vistas -->
		<slot />
		
		<footer>
			creditos a mi papa por patrocinarme el curso
		</footer>

	</body>
</html>

