---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Minecraft</title>
	</head>
	<body class="layout">
		<Menu />

		<slot />

		<Footer />
	</body>
</html>

<style>
	.layout {
		text-align: center;
		background-color: rgb(53, 53, 53);
	}
