<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi primera pagina</title>
	</head>
	<body>
		 
		<header>
			<nav>
				<a href="/">inicio</a>
				<a href="/juegos">juegos</a>
			</nav>
		</header>
		
		<!--esta parte es donde se intercambian las vistas -->
		<slot />
		
		<footer>
			creditos a mi papa por patrocinarme el curso
		</footer>

	</body>
</html>

